body {
  margin: 0;
  padding: 0;
    background-color: rgb(6, 14, 42);

}


.button {
  border: none;
  color: Black;
  background-color: pink;
  padding: 150px 320px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
